In [8]:
import pandas as pd
laptops = pd.read_csv(r"E:\kolya\3- Level Three\Second Term\Data Storage & Retrival\section\Tasks\Task 2 and bonus\Bonus\laptop_price.csv", encoding_errors='ignore')
# laptops.head()

In [3]:
laptops.isna().sum()
# laptops.describe()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64

In [7]:
# first way to Remove all rows with NULL values from the DataFrame
# inplace = True do the changes and save it on the same dataframe
laptops.dropna(axis=0, inplace=True)

In [6]:
laptops.isna().sum()

laptop_ID           0
Company             0
Product             0
TypeName            0
Inches              0
ScreenResolution    0
Cpu                 0
Ram                 0
Memory              0
Gpu                 0
OpSys               0
Weight              0
Price_euros         0
dtype: int64